{% extends 'base.html' %}

{% block content %}
<h1> {{title}}</h1>
<!-- если с формой будем передавать файлы обязательно добавляем параметр 'enctype ....'-->
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<!--     создаем form экземпляр в views.py-->
<!--    {{ form.as_p }} стандартное изображение через метод(as_p) ниже опишем в ручную-->
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Отправить</button></p>
</form>
{% endblock %}